### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Specific to your project
app-example

### Terraform ###A
# Ignorer les fichiers Terraform sensibles
terraform.tfstate
terraform.tfstate.*
.terraform/

# Ignorer les variables sensibles
terraform.tfvars

# Ignorer les clés SSH privées (sécurité)
ecfkey
ecfkey.pub

# Ignorer les fichiers de logs et backups
*.log
*.backup
.DS_Store  # (MacOS)
